body {
    background-image: url('https://img.freepik.com/free-photo/white-marble-texture-background_38679-514.jpg?size=626&ext=jpg');
}

.header-wrapper {
    width: 100%;
    background-color: #ffffff;
    border-bottom: 2px solid #dfdfdf;
}

.header {
    position: relative;
    width: 1000px;
    margin: auto;
    padding: 0px;
}

#header-name {
    background-color: #4aaaa5;
    color: white;
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    float: left;
}

ul {
    background-color: #ffffff;
    padding-top: 40px;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    float: right;
    text-decoration: none;
}

li {
    display: inline-block;
    padding-left: 10px;
}

a {
    color: #777777;
    text-decoration: none;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.body-wrapper {
    width: 1000;
    padding: 20px;
}

.main_content {
    margin: auto;
    width: 960px;
    background-color: #ffffff;
    padding: 20px;
}

#about {
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-bottom: 2px solid #dfdfdf;
}
#picture {
    width: 200px;
    height: 250px;
    padding-right: 20px;
    float: left;
}

#text-body {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    line-height: 50px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.row {
    position: relative;
    width: 100%;
}

.pic {
    width: 200px;
    height: 150px;
    float: left;
    margin: 20px;
}

.pic img {
    position: relative;
    width: 100%;
    height: 100%;
    float: left;
}

.pic button {
    position: relative;
    width: 100%;
    left: 0px;
    bottom: 50px;
    padding: 10px;
    background-color: #4aaaa5;
    color: #ffffff;
}

.footer {
    background-color: #666666;
    border-top: 8px solid #4aaaa5;
    font-size: 8px;
    color: white;
    text-align: center;
    height: 20px;
    padding: 20px;
    width: 100%;
    left: 0;
    bottom: 0;
    position: absolute;
}

.ctext {
    font-family: Arial, Helvetica, sans-serif;
    color:#777777;
    padding-bottom: 5px;
    padding-top: 10px; 
}

#name, #email, #message, textarea {
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    padding: 5px;

}

.submit-btn {
    color: #ffffff;
    background-color: #4aaaa5;
    padding: 5px 20px 5px 20px;
}